@model Subject
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Class</title>
    <link rel="stylesheet" href="~/css/classadd.css">
    <link rel="stylesheet" href="~/css  />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="container">
        <h2>Edit Subject</h2>
        <form method="post" class="student-form">
            <div class="form-section">
                <!-- Student Details -->
                <div class="form-group">
                    <label for="name">Subject Name *</label>
                    <input asp-for="Name" id="name" required>
                </div>
                <div class="form-group">
                    <label for="class">Class *</label>
                    <select asp-for="ClassId" asp-items="@ViewData["ClassList"] as IEnumerable<SelectListItem>" id="department" required>
                        <option value="" disabled selected>Please Select Class</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="name">Lesson Hours *</label>
                    <input asp-for="LessonHours" id="name" required>
                </div>
            </div>
            <!-- Buttons -->
            <div class="form-buttons">
                <button type="submit" class="btn btn-success">Save</button>
                <button type="reset" class="reset-btn">Reset</button>
            </div>
        </form>
    </div>
</body>
</html>
